div.page-header {
    background-color: #ffffff;
    color: #042f7b;

}
header.siteHeader{
    background-color: #508336;
}

.siteHeader_logo span{
    color: #ffffff;
}

.gMenu_name{
    color: #ffffff;

}

#gMenu_outer{
    background-color: #508336;

}

